/**
 * @file
 * Add default styles to preview container and controls.
 */
.text-format-preview-autopreview {
  text-align: right;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 4px;
}
.text-format-preview-autopreview * {
  display: inline;
}
.text-format-preview-autopreview-toggle {
  font-size: 0.9em;
  cursor: pointer;
}
.text-format-preview-preview {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 4px;
  box-sizing: border-box;
  min-height: 2em;
}
